*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
*.tfvars
vendor/.DS_Store
terraform-provider-f5os
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
.terraform.lock.hcl
cover.out
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.tf
*.pem
*.pub
*.back
*.goback

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf